:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --hover-color: #2196f3;
  --main-text-color: #757575;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------------Header------------*/

header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.contacts {
  margin-left: auto;
  display: flex;
}

.mail {
  margin-right: 50px;
}

.contacts-item {
  display: flex;
}

.contacts-icon-mail {
  fill: #757575;
  margin-right: 10px;
}

.contacts-icon-telef {
  fill: #757575;
  margin-right: 10px;
}

.header {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.active::after {
  content: '';
  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: 0;
}
.logo-header {
  margin-right: 93px;
}

.navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
}

.contacts-link {
  text-align: center;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}

.contacts-icon-mail {
  width: 16px;
  height: 12px;
}

.contacts-icon-telef {
  width: 10px;
  height: 16px;
}

.contacts-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: #2196f3;
}

.navigation-link:focus,
.navigation-link:hover {
  fill: #2196f3;
  color: #2196f3;
}

.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.logo-header .blue-part-logo {
  color: #2196f3;
}

.logo-header:hover,
.logo-header:focus {
  transform: scale(1.1);
}

.active {
  color: #2196f3;
}

/*----------------------------------------Studio--------------------------------------*/

/*----------------Hero---------------*/

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero-bg.jpg);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-btn:hover,
.hero-btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border: transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------Benefits--------------*/

.benefits-title {
  display: none;
}

.benefits-list-item {
  width: 270px;
}

.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list {
  display: flex;
}

.benefits-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.benefits-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.icon-benefit {
  margin-top: 25px;
  width: 65px;
  height: 70px;
}

.icons-list {
  margin-bottom: 30px;
}

.icon-item {
  border-radius: 4px;
  fill: #212121;
  text-align: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
}

.benefits-icon-div {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/*-----------------Gallery----------------*/
.works {
  padding-top: 0;
}

.gallery-list {
  display: flex;
}

.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}

.gallery-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.gallery-list-item {
  position: relative;
}

.gallery-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 82px;
  padding-right: 82px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*---------------------Team-------------------*/
.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-list-cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list {
  justify-content: center;
  margin-top: 16px;
  display: flex;
}

.socials-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #2196f3;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #fff;
}

.socials-icon-list:not(:last-child) {
  margin-right: 10px;
}

/*----------------------------Clients----------------*/

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  margin-top: 50px;
  display: flex;
}

.clients-link {
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  display: block;
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

/*--------------------------------------------------------Portfolio---------------------------------------------*/

header {
  border-bottom: 1px solid #ececec;
}

/*---------------Projects list------------------*/

.filter {
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item-with {
  margin-bottom: 0;
}

.project-item-div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  transform: scale(1);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: transparent;
  transition-property: background-color, color, transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus,
.btn-portfolio:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  transform: scale(1.05);
}

.project-item-hover {
  position: relative;
  overflow: hidden;
}

.project-item-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-item-description,
.project-link:focus .project-item-description {
  transform: translateY(0%);
}

/*--------------Footer--------------*/

address {
  font-style: normal;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.left-side-footer {
  flex-grow: 1;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.logo-footer:hover,
.logo-footer:focus {
  transform: scale(1.1);
}

.logo-footer .blue-part-logo {
  color: #2196f3;
}

.maps {
  margin-top: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.text-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  align-items: baseline;
  display: flex;
}

.socials-icon-footer {
  fill: #fff;
}

.footer-social-list {
  margin-top: 20px;
  margin-left: 0;
}

.right-side-footer {
  margin-left: 70px;
}

.footer-socials-link:hover {
  background-color: #2196f3;
}

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: transparent;
  display: block;
  margin-right: 12px;
  width: 358px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-form {
  margin-left: 93px;
}

.footer-form-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  display: block;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 29px;
  padding-right: 28px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-flex {
  display: flex;
}

.footer-form-btn-text {
  align-items: center;
  display: flex;
}

.footer-form-btn-text::after {
  content: '';
  background-image: url(../images/icon/telegram.svg);
  display: block;
  fill: #ffffff;
  width: 24px;
  height: 24px;
  right: 28px;
  top: 13px;
  margin-left: 10px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}

/*--------------------------Modal-----------------------*/

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-modal-close {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.icon-modal-x {
  width: 11px;
  height: 11px;
  display: block;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  cursor: pointer;
}

.btn-modal-close:focus .icon-modal-x,
.btn-modal-close:hover .icon-modal-x {
  fill: #2196f3;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .icon-modal {
  fill: #2196f3;
}

.icon-modal {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-user {
  width: 12px;
  height: 12px;
  fill: #212121;
  position: absolute;
  left: 14px;
  top: 14px;
}

.icon-modal-tel {
  height: 13px;
  width: 13px;
  fill: #212121;
  position: absolute;
  left: 14px;
  top: 14px;
}

.icon-modal-mail {
  width: 15px;
  height: 12px;
  fill: #212121;
  position: absolute;
  left: 14px;
  top: 14px;
}

.icon-position-div {
  position: relative;
}

.modal-comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: block;
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: #2196f3;
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-label {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.modal-checkbox-label::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition-property: background-color, background-image, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
  color: #2196f3;
  margin-left: 3px;
}

.modal-chekbox-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-checkbox:checked + .modal-checkbox-label::before {
  background-color: #2196f3;
  background-image: url(../images/icon/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  fill: #fff;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-btn-submit {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  margin: 0 auto;
  margin-top: 30px;
  border: transparent;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: #188ce8;
}
